{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Firewall Rule: {{ record.name }}
        <br>
        <small>{{ record.description }}</small>
    </h1>
    <h2>Template:</h2>
    <div><i>{{ record.template }}</i></div>
    <br>

    {% include "chunk-labels.html.twig" %}

    <h3>Hosts: {{ record.hosts|length }}</h3>
    <ul>
        {% for host in record.hosts %}
            <li>
                <a href="./hosts:{{ host.name }}.html">{{ host.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    {% if record.remoteHosts %}
        <h3>Remote Hosts: {{ record.remoteHosts|length }}</h3>
        <ul>
            {% for host in record.remoteHosts %}
                <li>
                    <a href="./hosts:{{ host.name }}.html">{{ host.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
