{% extends 'base.html.twig' %}

{% block body %}
    <h1>Host: {{ resource.name }}</h1>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ resource.name }}</dd>
        <dt>Status</dt>
        <dd>{{ resource.status }}</dd>
        <dt>Public IP</dt>
        <dd>{{ resource.publicIp }}</dd>
        <dt>Private IP</dt>
        <dd>{{ resource.privateIp|default('-') }}</dd>
        <dt>OS</dt>
        <dd>
            <a href="./os-releases:{{ resource.osRelease.name }}.html">{{ resource.osRelease.displayName }}</a>
        </dd>
        <dt>Provider</dt>
        <dd>
            <a href="./providers:{{ resource.provider.name }}.html">{{ resource.provider.displayName }}</a>
        </dd>
    </dl>

    {% include "chunk-labels.html.twig" %}

    <h3>Host group memberships:</h3>
    <ul>
        {% for membership in resource.memberships %}
            <li>
                <a href="./host-groups:{{ membership.name }}.html">{{ membership.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Services</h3>
    <ul>
        {% for service in resource.services %}
            <li>
                <a href="./services:{{ service.name }}.html">{{ service.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
