{% extends 'base.html.twig' %}

{% block body %}
    <h1>Host Group: {{ record.name }}</h1>
    <p class="lead">{{ record.description }}</p>

    <h3>Hosts: {{ record.members|length }}</h3>
    <ul>
        {% for member in record.members %}
            <li>
                <a href="./hosts:{{ member.name }}.html">{{ member.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
