{% extends 'base.html.twig' %}

{% block body %}
    <h1>Host Group: {{ resource.name }}</h1>
    <p class="lead">{{ resource.description }}</p>

    {% include "chunk-labels.html.twig" %}

    <h3>Hosts: {{ resource.members|length }}</h3>
    <ul>
        {% for member in resource.members %}
            <li>
                <a href="./hosts:{{ member.name }}.html">{{ member.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
