{% extends 'base.html.twig' %}

{% block body %}
    <h1>resources
        <small>{{ resources|length }}</small>
    </h1>
    <table class="data-table">
        <thead>
        <tr>
            <th>Name</th>
            {# <th>Provider</th> #}
            <th>OS</th>
            <th>Public IP</th>
            <th>Private IP</th>
            <th>Status</th>
            <th>Services</th>
            <th>Labels</th>
        </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>
                    <a href="./hosts:{{ resource.name }}.html">{{ resource.name }}</a>
                </td>
                {#
                <td>
                    {{ resource.provider.displayName }}
                </td>
                #}
                <td>
                    {{ resource.osRelease.displayName }} ({{ resource.osRelease.name }})
                </td>
                <td>
                    {{ resource.publicIp }}
                </td>
                <td>
                    {{ resource.privateIp }}
                </td>
                <td>
                    {{ resource.status }}
                </td>
                <td>
                  {% for service in resource.services %}
                    <a href="./services:{{ service.name }}.html">{{ service.name}}</a>
                  {% endfor %}
                </td>
                <td>
                  {% for label in resource.labels %}
                    <span class="badge badge-info">{{ label.key}}: {{ label.value}}</span>
                  {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
