{% extends 'base.html.twig' %}

{% block body %}
    <h1>Host groups
        <small>{{ resources|length }}</small>
    </h1>
    <table class="data-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Hosts</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>
                    <a href="./host-groups:{{ resource.name }}.html">{{ resource.name }}</a><br/>
                    <i class="text-muted">{{ resource.description }}</i>
                </td>
                <td>
                    {{ resource.members|length }}
                </td>
                <td>{{ resource.type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
