{% extends 'base.html.twig' %}

{% block body %}

    <h1>Repository: {{ resource.name }}</h1>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ resource.name }}</dd>
        <dt>Owner</dt>
        <dd>{{ resource.owner }}</dd>
        <dt>Description</dt>
        <dd>{{ resource.description }}</dd>
    </dl>

    <a class="btn btn-secondary" href="{{ resource.viewUrl }}" target="_blank">Open on GitHub</a>
    <a class="btn btn-secondary" href="https://team.linkorb.com/repositories/{{ resource.name }}" target="_blank">Open on HQ</a>
    <hr />
    {% include "chunk-labels.html.twig" %}

{% endblock %}
