{% extends 'base.html.twig' %}

{% block body %}
    <h1>Services
        <small>{{ resources|length }}</small>
    </h1>
    <table class="data-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Host</th>
            <th>Labels</th>
        </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>
                    <a href="./services:{{ resource.name }}.html">{{ resource.name }}</a><br />
                    <i class="text-muted">{{ resource.description }}</i>
                </td>
                <td>
                  {% for host in resource.hosts %}
                    {{ host.name }}
                  {% endfor %}
                </td>
                <td>
                  {% for label in resource.labels %}
                    <span class="badge badge-info">{{ label.key}}: {{ label.value}}</span>
                  {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
